@import "bourbon";
@import "../Constants";

body {
  background-color: $c-app-bg;
  margin: 0;
  padding: 0;
}

#main {
  background-color: $c-app-bg;
}

.AppBox {

}

.MainView {
  display: block;
}
