@import "bourbon";
@import "../Constants";

body {
  background-color: $c-app-bg;
  font-family: "proxima-nova", sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

#main {
  background-color: $c-app-bg;
}

.AppBox {

}
