@font-face {
 font-family: "icomoon";
 font-style: normal;
 font-weight: 400;
 src: url("/assets/icomoon/fonts/icomoon.eot?#") format("eot"),
      url("/assets/icomoon/fonts/icomoon.woff2") format("woff2"),
      url("/assets/icomoon/fonts/icomoon.woff")  format("woff"),
      url("/assets/icomoon/fonts/icomoon.ttf")   format("truetype");
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-twitter:before {
	content: "\f099";
}

.icon-facebook:before {
	content: "\f09a";
}

.icon-pinterest:before {
	content: "\f0d2";
}

.icon-add:before {
	content: "\e600";
}

.icon-keyboard-arrow-down:before {
	content: "\e601";
}

.icon-keyboard-arrow-up:before {
	content: "\e602";
}

.icon-arrow-back:before {
	content: "\e603";
}

.icon-close:before {
	content: "\e604";
}

