.DetailView {
  display: block;
}

.SongDetail {
  display: block;
}

.DetailTitle {
  color: #fff;
  font-weight: 200;
  position: absolute;
  text-align: center;
  width: 100%;
}

.DetailTitle--title {
  font-size: 36px;
}

.DetailTitle--info {
  font-size: 14px;
  margin-top: 0.6em;
  opacity: 0.5;
}

.SongDetailStar {
  fill: #fff;
  filter: url(#starGlowFilter);
}

.SongTimelineAxis--line, .SongTimelineAxis--line__axistick {
  opacity: 0.5;
  stroke: white;
}

.SongTimelineAxis--label {
  alignment-baseline: before-edge;
  fill: white;
  font-size: 10px;
  font-weight: 400;
  opacity: 0.5;
  stroke: none;
  text-anchor: middle;
}
