.DetailView {
  display: block;
}

.SongDetail {
  display: block;
}

.DetailTitle {
  color: #fff;
  font-weight: 200;
  position: absolute;
  text-align: center;
  width: 100%;
  pointer-events: none;
}

.DetailTitle--title {
  font-size: 36px;
  font-weight: 300;
  margin: 0;
}

.DetailTitle--info {
  font-size: 14px;
  font-weight: 300;
  margin: 0.6em 0 0 0;
  opacity: 0.5;
}

.SongDetailStar {
  fill: #fff;
  filter: url(#starGlowFilter);
}

.SongTimelineAxis--line, .SongTimelineAxis--line__axistick {
  opacity: 0.5;
  stroke: white;
}

.SongTimelineAxis--label {
  alignment-baseline: before-edge;
  fill: white;
  font-size: 10px;
  font-weight: 400;
  opacity: 0.5;
  stroke: none;
  text-anchor: middle;
}

.SongTimeline--energytail {
  fill: url(#energyTailFade);
}

.SongTimeline--planet__shadow {
  fill: #000;
  opacity: 0.25;
  transform-origin: 0 50%;
}
