.DetailOverlay__midline {
  stroke: #fff;
}

.DetailOverlay__valencevertical {
  stroke: #fff;
  stroke-dasharray: 2 2;
}

.DetailOverlay__valence {
  stroke: #fff;
}

.DetailOverlay__axisdot {
  fill: #fff;
}

.DetailOverlay__angle {
  fill: none;
  stroke: #fff;
  stroke-width: 4;
}
