@import "components/Constants";

.DetailView {
  display: block;
}

.SongDetail {
  display: block;
}

.SongDetailStar {
  fill: #fff;
  filter: url(#starGlowFilter);
}

.SongTimelineAxis--line, .SongTimelineAxis--line__axistick {
  stroke: white;
  fill: $c-app-bg;
}

.SongTimelineAxis__firsttick {
  stroke: white;
  fill: white;
}

.SongTimelineAxis--label {
  alignment-baseline: before-edge;
  fill: white;
  font-size: 14px;
  font-weight: 500;
  opacity: 0.5;
  stroke: none;
  text-anchor: middle;
}

.SongTimeline--energytail {
  fill: url(#energyTailFade);
}

.SongTimeline--planet__shadow {
  fill: #000;
  opacity: 0.25;
  transform-origin: 0 50%;
}
