.DetailTitle {
  color: #fff;
  font-weight: 200;
  position: absolute;
  text-align: center;
  width: 100%;
  pointer-events: none;
}

.DetailTitle--title {
  font-size: 36px;
  font-weight: 300;
  margin: 0;
}

.DetailTitle--info {
  font-size: 18px;
  font-weight: 300;
  margin: 0.6em 0 0 0;
}
