@value c-app-bg from '../Constants.css';
@value z-about from '../Constants.css';

.AboutPage {
  background-color: c-app-bg;
  box-sizing: border-box;
  color: #F1F1F1;
  font-weight: 300;
  overflow: auto;
  padding: 60px 0 60px 0;
  position: absolute;
  transition: transform 0.2s linear, top 0.2s linear;
  width: 100%;
  z-index: z-about;

  h2 {
    font-size: 28px;
    font-weight: 300;
    margin: 0;
  }

  h3 {
    font-size: 19px;
    font-weight: 300;
    margin: 15px 0 0 0;
  }

  h4 {
    font-size: 28px;
    font-weight: 300;
    margin: 24px 0 8px 0;
  }

  p {
    font-size: 16px;
    line-height: 22px;
    margin: 16px 0 0 0;
  }

  ul {
    font-size: 16px;
    line-height: 22px;
    list-style: disc inside;
    padding: 0 0 0 40px;

    li {

    }
  }

  a {
    color: #fff;
  }
}

.AboutPage--closed {
  padding: 0;

  .AboutPage__wrapper {
    visibility: hidden;
  }
}

.AboutPage__wrapper {
  width: 80%;
  margin: auto;
  max-width: 700px;
}
