@import "bourbon";
@import "components/Constants";

.AboutPage {
  background-color: #282836;
  box-sizing: border-box;
  padding: 60px 0 60px 0;
  @include transition(transform 0.2s linear);
  transform: translateY(0%);
  width: 100%;
}

.AboutPage--closed {
//  max-height: 0px;
  padding: 0;
  position: relative;
  transform: translateY(-130%);

  .AboutPage__wrapper {
    visibility: hidden;
  }
}

.AboutPage__wrapper {
  width: 80%;
  margin: auto;
  max-width: 700px;
}

.AboutPage {
  color: #F1F1F1;
  font-weight: 300;

  h2 {
    font-size: 28px;
    font-weight: 300;
    margin: 0;
  }

  h3 {
    font-size: 19px;
    font-weight: 300;
    margin: 15px 0 0 0;
  }

  h4 {
    font-size: 28px;
    font-weight: 300;
    margin: 24px 0 8px 0;
  }

  p {
    font-size: 16px;
    line-height: 22px;
    margin: 16px 0 0 0;
  }

  ul {
    font-size: 16px;
    line-height: 22px;
    list-style: disc inside;
    padding: 0 0 0 40px;

    li {

    }
  }
}
