@value c-header-bg from '../Constants.css';
@value z-header, z-nav from '../Constants.css';

.AppHeader {
  font-size: 24px;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: z-header;
}

.AppHeader--navigation {
  background-color: c-header-bg;
  padding: 0.62em 0;
  position: relative;
  user-select: none;
  z-index: z-nav;
}

.AppHeader--back {
  cursor: pointer;
  display: inline-block;
  padding-left: 1em;
}

.appheaderbackarrow {
  composes: half-opaque-white from '../Constants.css';
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.8em;
}

.AppHeader--title {
  color: white;
  display: inline-block;
  font-size: 1em;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 1.2em;
  margin: 0;
  vertical-align: middle;
}

.AppHeader--menu {
  display: inline-block;
  float: right;
  padding-right: 0.7em;
  position: relative;
}

.appheadermenuoption {
  composes: half-opaque-white from '../Constants.css';
  cursor: pointer;
  display: inline-block;
  font-size: 0.8em;
  margin-left: 1em;

  &.AppHeader--menuoption__active {
    opacity: 1;
  }
}

.AppHeader--navlabel {
  color: #fff;
  display: inline-block;
  font-size: 18px;
  font-weight: 300;
  line-height: 22px;
  margin: 0;
  vertical-align: middle;
}

.AppHeader-icon {
  line-height: 1.2em;
  vertical-align: middle;
}

.appheadershareicon {
  composes: half-opaque-white from '../Constants.css';
  cursor: pointer;
  display: inline-block;
  margin-left: 1em;

  &:hover {
    opacity: 1;
  }
}
