.GenreHeader {
  display: block;
  cursor: pointer;
}

.GenreHeader--invisible {
  display: none;
}

.GenreHeader--genrelabel {
  alignment-baseline: hanging;
  font-size: 13px;
  stroke: none;
}

.GenreHeader--valuelabel {
  alignment-baseline: central;
  color: #22222D;
  font-size: 13px;
}
