@value c-header-bg from '../Constants.css';

.GenreHeader {
  display: block;
  cursor: pointer;
}

.GenreHeader__bgrect {
  fill: c-header-bg;
}

.GenreHeader__percentlabel {
  fill: #fff;
  font-size: 13px;
  font-weight: 500;
  stroke: none;
  text-anchor: middle;
}

.GenreHeader__genrelabel {
  font-size: 13px;
  font-weight: 200;
  stroke: none;
  text-anchor: middle;
}
