.AppHeaderMenu {
  display: inline-block;
  float: right;
  padding-right: 0.7em;
  position: relative;
}

@media (--narrow-view) {
  .AppHeaderMenu {
    display: block;
    float: none;
    padding-right: 0;
    margin-top: 0.62em;
  }
}

.appheadersharediv {
  display: inline-block;
}

@media (--narrow-view) {
  .appheadersharediv {
    border-top: 1px solid #979797;
    display: block;
    padding: 1em 0em;

    &:last-child {
      border-bottom: 1px solid #979797;
    }
  }
}
