.AppHeader--legendoption {
  cursor: pointer;
  display: inline-block;
  margin: 20px 20px 26px;
  width: 20%;
  max-width: 200px;

  &.AppHeader--legendoption__inactive {
    opacity: 0.2;
  }
}

.legenddisplayname {
  composes: half-opaque-white from '../Constants.css';
  font-size: 14px;
  font-weight: 300;
}

.AppHeader--legendlabel {
  color: white;
  font-size: 14px;
  font-weight: 500;
  margin-top: 8px;
}

.AppHeader--legendlabel__invisible {
  height: 17px;
}
