@value c-header-bg from '../Constants.css';

.AppHeader--legend {
  display: none;
  background-color: c-header-bg;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  text-align: center;
  width: 100%;
}

.AppHeader--legend__open {
  box-shadow: 0 32px 40px 0px rgba(0, 0, 0, 0.5);
  display: block;
}
