@import "bourbon";
@import "../Constants";

.AppHeader--legendoption {
  cursor: pointer;
  display: inline-block;
  margin: 30px 20px 26px;

  &.AppHeader--legendoption__inactive {
    opacity: 0.2;
  }
}

.AppHeader--legendlabel {
  color: white;
  font-size: 14px;
  font-weight: 500;
  margin-top: 0.1em;
}

.AppHeader--legendlabel__invisible {
  height: 17px;
}

.AppHeader__legendicon svg {
  height: 85px;
}
